// Definitions for custom fonts used on the site

////////////////
// Font mixin //
////////////////

@mixin font($family-name, $path, $weight, $style, $svg-anchor) {
  $fullpath: "../fonts/" + $path;

  @font-face {
    font-family: $family-name;
    src: url($fullpath + ".eot");
    src: url($fullpath + ".eot?#iefix") format("embedded-opentype"),
         url($fullpath + ".woff") format("woff"),
         url($fullpath + ".ttf") format("truetype"),
         url($fullpath + ".svg#" + $svg-anchor) format("svg");
    font-weight: $weight;
    font-style: $style;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: $family-name;
      src: url($fullpath + ".svg#" + $svg-anchor) format("svg");
    }
  }
}

/////////////////////
// Source Sans Pro //
/////////////////////

@include font("Source Sans Pro", "source_sans_pro/sourcesanspro-regular", normal, normal, "source_sans_proregular");
@include font("Source Sans Pro", "source_sans_pro/sourcesanspro-semibold", 500, normal, "source_sans_prosemibold");
