// Global variables
// This file contains most canonical definitions for variables

////////////
// Colors //
////////////

$primary-color: #65ac52;
$primary-color-dark: #4a823b;

// Text colors
$normal-text-color: #4b514a;
$secondary-text-color: #b0b8ae;
$unimportant-text-color: #cfd4cd;

$scum-green: $primary-color;
$scum-red: #ff4b4b;

$link-color: $primary-color;

$disabled-color: #d5d8d2;
$contrast-color: #4b514a;

// Spacers (found in `mixins`)
$spacer-color: $unimportant-text-color;

// Page background color
$canvas-color: white;

// Borders
$base-border-color: #e4e5e1;

//////////
// Text //
//////////

$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes
$bigger-text: 20px;
$normal-text: 18px;
$small-text: 16px;

$bold-font-weight: 500;

$customized-text-line-height: 1.25;
$text-line-height: 1.4;

// Headings

// Font sizes for every heading
$heading-font-sizes: (
  1: 40px,
  2: 26px,
  3: $bigger-text,
  4: $normal-text,
  5: $small-text,
  6: 14px,
);

// Font weights for every heading
$heading-font-weights: (
  1: $bold-font-weight,
  2: normal,
  3: normal,
  4: normal,
  5: normal,
  6: normal,
);

/////////////
// Visuals //
/////////////

$base-border-radius: 4px;
